/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem; /*56px*/
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --primary-color-hue:352;
    --dark-color-lightness:17%;
    --light-color-lightness:92%;
    --white-color-lightness:100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  
    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    /*========== Card padding ==========*/
    --card-padding:1.9rem 0.95rem;

    /*========== Border radius ==========*/
    --border-radius: 1.25rem;

    /*========== Box shadow ==========*/
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    }
    /*========== Scroll Bar ==========*/
    ::-webkit-scrollbar
    {
      width: 0.6rem;
      background: var(--color-white);
    }
    ::-webkit-scrollbar-thumb
    {
      background: var(--color-primary);
      border-radius: .5rem;
    }
    /*========== Responsive Typography ==========*/
   @media screen and (max-width:992px)
   {
     :root 
     {
     --h1-font-size: 1.75rem;
     --h2-font-size: 1.5rem;
     --h3-font-size: 1rem;
     --normal-font-size: .938rem;
     --small-font-size: .813rem;
     }
   }
   /*========== Base ==========*/
   *
   {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   html
   {
     scroll-behavior: smooth;
   }
   body,
   button,
   input,textarea
   {
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
   }
   body
   {
     background-color: var(--color-light);
     color: var(--color-dark);
     line-height: 1.7;
     font-weight: var(--font-medium);
   }
   img
   {
     max-width: 100%;
     height: auto;
     vertical-align: middle;
   }
   ul
   {
     list-style: none;
   }
   a
   {
     text-decoration: none;
     color: var(--color-dark);
   }
   h1,h2,h3
   {
     font-weight: var(--font-semi-bold);
   }
   h1
   {
     font-size: var(--h1-font-size);
   }
   h2
   {
     font-size: var(--h2-font-size);
   }
   h3
   {
     font-size: var(--h3-font-size);
   }

   /* ================ LAYOUT ================== */

   .container{
       max-width: 968px;
       margin: auto;
   }
   .row 
    {
      display: flex;
      flex-wrap: wrap;
    }
   .padd-15{
       padding-left: 15px;
       padding-right: 15px;
   }

    /* ================ BUTTONS ================== */
   .btn{
       padding: 0.75rem 2rem;
       line-height: 1;
       border-radius: var(--border-radius);
   }
   .btn:focus{
       outline: 0;
   }
    @keyframes button-push{
       50%{
           transform: scale(0.8);
       }
       100%{
           transform: scale(1);
       }
   }
    .btn-default{
       color: #fff;
       vertical-align: middle;
       display: inline-block;
       background-color: var(--color-primary);
       transform: perspective(1px) translateZ(0);
   }
   .btn-default:hover{
       animation-name: button-push;
       animation-duration: 0.3s;
       animation-timing-function: linear;
       animation-iteration-count: 1;
   }
  

   /* ================ HEADER ================== */

   .header{
       width: 100%;
       background-color: var(--color-light);
       position: fixed;
       top: 0;
       left: 0;
       z-index: 100;
   }

   /* ================ NAV ================== */

   .nav{
       height: calc(var(--header-height) + 1.5rem);
       display: flex;
       justify-content: space-between;
       align-items: center;
       column-gap: 3rem;
    }
    .nav-logo{
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        letter-spacing: 0.125rem;
        position: relative;
    }
    .nav-logo::after{
        position: absolute;
        content: '';
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        top: 56%;
        right: -0.25rem;
    }
    nav.menu{
        margin-left: auto;
    }
    .nav-list{
        display: flex;
        column-gap: 3rem;
    }
    .nav-link{
        font-weight: var(--font-medium);
        transition: .3s;
    }
    .nav-link:hover{
        color: var(--color-primary);
    }
    .nav-close{
        font-size: 1rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
    }
    .nav-btn{
        display: inline-flex;
        align-items: center;
        column-gap: 1rem;
    }
    .change-theme
    {
      font-size: 1.15rem;
      cursor: pointer;
    }
    .nav-toggle
    {
      font-size: 1.2rem;
      cursor: pointer;
    }
    .nav-close,
    .nav-toggle
    {
      display: none;
    }
    .active-link
    {
      position: relative;
    }
    .active-link::before
    {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      left: 45%;
      width: 0.3rem;
      height: 0.3rem;
      background-color: var(--color-primary);
      border-radius: 50%;
    }

    .scroll-header{
        box-shadow: 0 1px 4px rgba(165,125,125,0.02);
    }

    /* ================ HOME ================== */

    .home{
        display: flex;
        justify-content: center;
        height: 100vh;
        min-height: 100vh;
    }
    .home .intro{
        max-width: 540px;
        text-align: center;
    }
    .home .intro img{
        margin-bottom: var(--m-1);
    }
    .home .intro .social-icons{
        margin-top: var(--m-1-5);
        margin-bottom: var(--m-2);
    }
    .home .intro .social-icons li{
        display: inline-block;
    }
    .home .intro .social-icons li:not(:last-child){
        margin-right: var(--m-1-5);
    }
    .home .intro .social-icons a{
        font-size: var(--h3-font-size);
    }
   .home button:hover{
       background:  var(--color-primary);
   }
   .home .right #play::before,
   .home .right #pause::before{
       color: #fff;
       font-size: 20px;
   }
   .home .right .btn-back::before,
   .home .right .btn-next::before{
    color: var(--color-primary);
    font-size: 20px;
}
    .scroll-down{
        position: absolute;
        bottom: var(--m-2-5);
        left: 0;
        width: 100%;
    }
    .mouse-wrapper{
        font-size: var(--small-font-size);
        display: block;
        margin: auto;
        max-width: 100px;
        text-align: center;
    }

    @keyframes ani-mouse{
        0%{
            top: 29%
        }
        15%{
            top: 50%;
        }
        50%{
            top: 50;
        }
        100%{
            top: 29%;
        }
    }

    .mouse{
        border: 2px solid var(--color-dark);
        display: block;
        height: 1.75rem;
        width: 1.2rem;
        margin: auto;
        margin-top: var(--m-0-75);
        border-radius: var(--border-radius);
        position: relative;
    }
    .mouse .wheel{
        background-color: var(--color-dark);
        border-radius: 50%;
        width: 0.2rem;
        height: 0.25rem;
        position: absolute;
        top: var(--m-0-5);
        left: 40%;
        display: block;
        animation: ani-mouse 2s linear infinite;
    }

/* ================ ABOUT ME ================== */

.about{
    padding: 65px 0 50px 0;
}
.about .container h2{
    padding: 15px 0 15px 10px;
}
.about-img
{
  flex: 0 0 25%;
  max-width: 25%;
}
.social-icons2{
    padding-top: 100px;
    margin-left: 60px;
}
.social-icons2 li{
    display: grid;
    padding-top: 10%;
    font-size: var(--h3-font-size);
}
.home .intro .social-icons li:not(:last-child){
    margin-right: var(--m-1-5);
}
.about-content
{
  flex: 0 0 70%;
  max-width: 70%;
}
.about-content .about-text,
.about-content .skills
{
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text{
    text-align: justify;
}

.skill-bars{
flex: 0 0 60%;
max-width: 100%;
margin-top: 5%;
padding: 25px 30px;
width: 400px;
height: auto;
box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
border-radius: 10px;
}

.skill-bars .bar{
margin: 35px 0;
}
.skill-bars .bar:first-child{
margin-top: 0px;
}
.skill-bars .bar .info{
margin-bottom: 5px;
}
.skill-bars .bar .info span{
font-weight: 500;
font-size: var(--h3-font-size);
opacity: 0;
animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.skill-bars .bar .progress-line{
height: 10px;
width: 100%;
background: #f0f0f0;
position: relative;
transform: scaleX(0);
transform-origin: left;
border-radius: 10px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
            0 1px rgba(255,255,255,0.8);
animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bar .progress-line span{
height: 100%;
position: absolute;
border-radius: 10px;
transform: scaleX(0);
transform-origin: left;
background: var(--color-primary);
animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.responsable span{
width: 95%;
}
.bar .progress-line.carismatico span{
width: 92%;
}
.bar .progress-line.puntual span{
width: 85%;
}
.bar .progress-line.autoexigente span{
width: 85%;
}
.bar .progress-line.atento span{
width: 88%;
}
.progress-line span::before{
position: absolute;
content: "";
top: -10px;
right: 0;
height: 0;
width: 0;
border: 7px solid transparent;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-color: var(--color-primary);
opacity: 0;
animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
position: absolute;
top: -28px;
right: 0;
font-weight: 500;
background: transparent;
padding: 1px 8px;
font-size: 12px;
border-radius: 3px;
opacity: 0;
animation: showText2 0.5s 1.5s linear forwards;
}
    @keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.progress-line.responsable span::after{
content: "95%";
}
.progress-line.carismatico span::after{
content: "92%";
}
.progress-line.puntual span::after{
content: "90%";
}
.progress-line.autoexigente span::after{
content: "85%";
}
.progress-line.atento span::after{
content: "88%";
}


/* ================ CONOCIMIENTO ================== */

.conocimiento{
    min-height: 100vh;
    margin-top: 5%;
    padding-top: 8%;
}

.conocimiento .container .title-conocimiento{
    padding: 0 0 0 8px;
    font-size: var(--h2-font-size);
}
.gamecard{
    min-height: 100vh;
    display: flex;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
}
.conocimiento-text{
    font-size: var(--h4-font-size);
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2.5% 3%;
    border-radius: 10px;
    text-align: justify;
}
.wrapper{
    height: 38rem;
    width: 38rem;
    padding: 25px;
    background: transparent;
    margin: 5% 18%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    position: relative;
}
.cards, .cardi, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .cardi{
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.cardi .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
}
.cardi .front-view img{
    width: 2.5rem;
}
.cardi .back-view img{
    max-width: 7rem;
}
.cardi .back-view{
    transform: rotateY(-180deg);
}
.cardi.flip .back-view{
    transform: rotateY(0);
}
.cardi.flip .front-view{
    transform: rotateY(180deg);
}

/* ================ SELECCION DE TEMA ================== */


.customize-theme{
    background: rgba(0,0,0,.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: var(--small-font-size);
    display: none;
}
.customize-theme .card{
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-radius);
    width: 40%;
    max-width: 600px;
}
.customize-theme .font-size{
    margin-top: var(--m-2-5);
}
.customize-theme .font-size > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    padding: .6rem 1rem;
    border-radius: var(--border-radius);
}
.customize-theme .choose-size{
    background: hsl(252, 100%, 90%);
    height: 0.35rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    background: hsl(252, 100%, 90%);
    border-radius: 50%;
    cursor: pointer;
}
.customize-theme .choose-size span.active{
    background: var(--color-primary);
}
.customize-theme .color{
    margin-top: var(--m-2);
}
.customize-theme .choose-color{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: .6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customize-theme .choose-color span{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: var(--color-primary);
}
.customize-theme .choose-color span:nth-child(1){
    background: hsl(160, 60%, 25%);
}
.customize-theme .choose-color span:nth-child(2){
    background: hsl(315, 87%, 27%);
}
.customize-theme .choose-color span:nth-child(3){
    background: hsl(0, 100%, 50%);
}
.customize-theme .choose-color span:nth-child(4){
    background: hsl(204, 96%, 53%);
}
.customize-theme .choose-color span:nth-child(5){
    background: hsl(30, 100%, 39%);
}
.customize-theme .choose-color span.active{
    border: 5px solid #fff;
}
.customize-theme .background{
    margin-top: var(--m-2);
}
.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}
.customize-theme .choose-bg > div{
    padding: 0.8rem 0.20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.4rem;
    cursor: pointer;
}
.customize-theme .choose-bg > div.active{
    border: 2px solid var(--color-primary);
}
.customize-theme .choose-bg .bg-1{
    background: hsl(252, 30%, 92%);
    color: hsl(252, 30%, 17%);
}
.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);
    color: #fff;
}
.customize-theme .choose-bg > div span{
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--color-gray);
    border-radius: var(--border-radius);
}

    @media only screen and (max-width:1200px){
        .customize-theme .card{
            width: 50vw;
        }
    }

    @media only screen and (max-width:768px){
        .nav{
            height: var(--header-height);
        }
        .nav-list{
            flex-direction: column;
            row-gap: 1.5rem;
        }
        .nav-menu{
            position: fixed;
            background-color: var(--color-white);
            width: 80%;
            height: 100%;
            top: 0;
            right: -100%;
            padding: 4rem 0 0 3rem;
            box-shadow: -2px 0 4px var(--color-dark);
            border-radius: 1rem 0 0 1rem;
            z-index: 100;
        }
        .show-menu{
            right: 0;
        }
        .nav-close,
        .nav-toggle{
            display: inline-block;
            padding: 0 1px 0 15px;
        }
        .customize-theme .card{
            width: 75vw;
        }
        .about{
            padding: 0 0 50px 0;
        }
        .about .container h2{
            padding: 15px 0 15px 10px;
        }
        .about-img
        {
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
        }
        .social-icons2{
            padding-top: 90%;
            margin-left: 40%;
        }
        .social-icons2 li{
            display: grid;
            font-size: 25px;
        }
        .home .intro .social-icons li:not(:last-child){
            margin-right: var(--m-1-5);
        }
        .about-content
        {
            flex: 0 0 65%;
            max-width: 65%;
        }
        .wrapper{
            height: 28rem;
            width: 28rem;
            padding: 25px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
            border-radius: 10px;
            align-items: center;
            justify-content: center;
        }
        .cards{
            height: 100%;
            width: 100%;
        }
        .cardi .front-view img{
            width: 17px;
        }
        .cardi .back-view img{
            max-width: 75px;
        }
    }

    @media only screen and (max-width:576px){

        .home .btn{
            margin: 0 0 30% 0;
        }

        .about{
            padding: 0 0 50px 0;
        }
        .about .container h2{
            padding: 15px 0 15px 10px;
            font-size: 20px;
            text-align: center;
        }
        .about-img
        {
          flex: 0 0 50%;
          max-width: 50%;
          margin-left: calc(25%);
        }
        .social-icons2{
            padding-top: 25%;
            margin-left: -40%;
            transform: translate(25px, 10px);
        }
        .social-icons2 li{
            display: inline-block;
            font-size: 18px;
            padding: 0 5% 0 5%;
        }
        .social-icons li:not(:last-child){
            margin-right: var(--m-1-5);
        }
        .about-content
        {
          flex: 0 0 70%;
          max-width: 70%;
          margin-top: 55px;
          margin-left: 55px;
        }
        .about-text{
            font-size: var(--h3-font-size);
            letter-spacing: 1px;
        }
        .btn-cv{
            font-size: var(--h3-font-size);
            margin-left: 25px;
            margin-bottom: 15px;
        }
        .skill-bars{
            flex: 0 0 60%;
            max-width: 100%;
            margin-top: 5%;
            padding: 25px 30px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
            border-radius: 10px;
        }
        
        .skill-bars .bar{
        margin: 35px 0;
        }
        .skill-bars .bar:first-child{
        margin-top: 0px;
        }
        .skill-bars .bar .info{
        margin-bottom: 5px;
        }
        .skill-bars .bar .info span{
        font-weight: 500;
        font-size: var(--h3-font-size);
        opacity: 0;
        animation: showText 0.5s 1s linear forwards;
        }
        @keyframes showText {
            100%{
                opacity: 1;
            }
        }
        .skill-bars .bar .progress-line{
        height: 10px;
        width: 100%;
        background: #f0f0f0;
        position: relative;
        transform: scaleX(0);
        transform-origin: left;
        border-radius: 10px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                    0 1px rgba(255,255,255,0.8);
        animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
        }
        @keyframes animate {
            100%{
                transform: scaleX(1);
            }
        }
        .bar .progress-line span{
        height: 100%;
        position: absolute;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        background: var(--color-primary);
        animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
        }
        .bar .progress-line.responsable span{
        width: 95%;
        }
        .bar .progress-line.carismatico span{
        width: 92%;
        }
        .bar .progress-line.puntual span{
        width: 85%;
        }
        .bar .progress-line.autoexigente span{
        width: 85%;
        }
        .bar .progress-line.atento span{
        width: 88%;
        }
        .progress-line span::before{
        position: absolute;
        content: "";
        top: -10px;
        right: 0;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: #000;
        opacity: 0;
        animation: showText2 0.5s 1.5s linear forwards;
        }
        .progress-line span::after{
        position: absolute;
        top: -28px;
        right: 0;
        font-weight: 500;
        background: var(--color-primary);
        color: #fff;
        padding: 1px 8px;
        font-size: 10px;
        border-radius: 3px;
        opacity: 0;
        animation: showText2 0.5s 1.5s linear forwards;
        }
            @keyframes showText2 {
            100%{
                opacity: 1;
            }
        }
            .progress-line.responsable span::after{
            content: "95%";
        }
            .progress-line.carismatico span::after{
            content: "92%";
        }
            .progress-line.puntual span::after{
            content: "85%";
        }
            .progress-line.autoexigente span::after{
            content: "8%";
        }
            .progress-line.atento span::after{
            content: "88%";
        }
        .conocimiento-text{
            font-size: var(--h4-font-size);
            flex: 0 0 100%;
            max-width: 100%;
            letter-spacing: 1px;
            padding: 2.5% 20%;
            border-radius: 10px;
            text-align: justify;
        }

        .wrapper{
            height: 21.5rem;
            width: 21.5rem;
            padding: 25px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
            border-radius: 10px;
            transform: translate(25px, 0);
        }
        .cards{
            height: 100%;
            width: 100%;
          }
          .cardi .front-view img{
            width: 10px;
          }
          .cardi .back-view img{
            max-width: 35px;
          }

        .customize-theme .card{
            width: 96vw;
            padding: 1rem;
        }
    }

    @media only screen and (max-width:451px){
        .wrapper{
            height: 19.5rem;
            width: 19.5rem;
            padding: 25px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
            border-radius: 10px;
            transform: translate(10px, 0);
        }
        .cards{
            height: 100%;
            width: 100%;
          }
          .cardi .front-view img{
            width: 10px;
          }
          .cardi .back-view img{
            max-width: 42px;
          }

        .customize-theme .card{
            width: 96vw;
            padding: 1rem;
        }
    }

    @media only screen and (max-width:405px){
        .wrapper{
            height: 17.5rem;
            width: 17.5rem;
            padding: 5px 15px 5px 15px; 
            box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
            border-radius: 10px;
            transform: translate(10px, 0);
        }
        .cards{
            height: 100%;
            width: 100%;
          }
          .cardi .front-view img{
            width: 8px;
          }
          .cardi .back-view img{
            max-width: 40px;
          }

        .customize-theme .card{
            width: 96vw;
            padding: 1rem;
        }
    }

    